<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sr.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setup.HomeSearch"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.SetUp"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.User.UserActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.Installer.InstallerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.User.TimerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.Installer.DRO.DROActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.Installer.DRO.AxesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Setup.Installer.DRO.alarmsActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Setup.Installer.feedback.feedbackActivity" />
        <activity android:name=".Setup.Installer.feedback.refActivity" />
        <activity android:name=".Setup.Installer.comp.compActivity" />
        <activity android:name=".Function.boltHoleActivity" />
        <activity android:name=".Function.linearDrillingActivity" />
        <activity android:name=".Function.gridDrillingActivity" />
        <activity android:name=".Function.goToActivity" />
        <activity android:name=".Function.calculatorActivity"></activity>
    </application>

</manifest>